* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Rubik;
    src: url(../assets/static/Rubik-Regular.ttf);
}

body {
    background-color: #0E1323;
    font-family: Rubik;
}

.grid-display {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: auto auto; */
    margin: 10rem 8rem 0 8rem;
}

.personal {
    height: 518px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
}

.personal p {
    color: #7078C9;
    font-size: 18px;
    font-weight: normal;
    padding: 1rem 0 0 2rem;
}

.personal-hero {
    height: 354px;
    width: 255px;
    background-color: #5747EA;
    border-radius: 5%;
}

.personal-hero p {
    font-weight: normal;
    font-size: 15px;
    color: #BBC0FF;
    padding-left: 2rem;
}

.personal-hero h2 {
    font-size: 40px;
    font-weight: lighter;
    color: white;
    padding-left: 2rem;
}

.jeremy {
    width: 78px;
    height: 78px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 2rem;
}

.work {
    height: 244px;
    width: 255px;
    background-color: #FF8B64;
    border-radius: 5%;
    display: flex;
    justify-content: flex-end;
}

.work-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}

.work svg {
    padding-right: 1rem;
}

.play svg {
    padding-right: 1rem;
}

.study svg {
    padding-right: 1rem;
}

.exercise svg {
    padding-right: 1rem;
}

.social svg {
    padding-right: 1rem;
}

.self-care svg {
    padding-right: 1rem;
}

.content {
    display: flex; 
    justify-content: space-between; 
    padding: 2rem;
}

h3 {
    color: white;
    font-weight: medium;
}

.content svg {
    margin-top: 10px;
    color: #BBC0FF;
}

.exercise {
    height: 244px;
    width: 255px;
    border-radius: 5%;
    background-color: #4BCF82;
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.exercise-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}

.play {
    height: 244px;
    width: 255px;
    border-radius: 5%;
    background-color: #55C2E6;
    display: flex;
    justify-content: end;
}

.play-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}

.social {
    height: 244px;
    width: 255px;
    border-radius: 5%;
    background-color: #7335D2;
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.social-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}

.study {
    height: 244px;
    width: 255px;
    border-radius: 5%;
    background-color: #FF5E7D;
    display: flex;
    justify-content: end;
}

.study-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}

.self-care {
    height: 244px;
    width: 255px;
    border-radius: 5%;
    background-color: #F1C75B;
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.self-care-hero {
    margin-top: 3rem;
    height: 199px;
    width: 255px;
    background-color: #1C204B;
    border-radius: 5%;
    position: absolute;
}


/* Responsiveness */

@media (max-width: 376px){

    /* .hidden {
        display: none;
    } */

    .grid-display {
        display: grid;
        grid-template-columns: auto;
        margin: 1rem;
        width: fit-content;
    }

    /* .mobile {
        display: block;
    } */

    .personal {
        height: 203px;
        width: 327px;
        /* display: flex;
        align-items: end;
        flex-direction: row; */
    }

    .personal-hero {
        height: 133px;
        width: 327px;
        display: flex;
        flex-direction: row;
    }

    .mobile-flex {
        display: flex;
        flex-direction: column;
        padding: 3rem 0 0 0;
    }

    .personal-hero p {
        font-weight: normal;
        font-size: 15px;
        color: #BBC0FF;
        padding: 0;
    }
    
    .personal-hero h2 {
        font-size: 24px;
        font-weight: lighter;
        color: white;
        padding: 0;
    }
    
    .jeremy {
        width: 64px;
        height: 64px;
        border: 4px solid white;
        border-radius: 50%;
        margin: 2rem 1rem 2rem 2rem;
    }

    .mobile-bottom-flex {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
    }

    .mobile-bottom-flex p {
        padding: 0;
    }

}